.movie-up-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    gap: 2.1rem;
    padding: 10px;
    /* background-color: var(--dark-blue); */
}