.movie-wrapper{
margin-top: 2rem;
max-height: 39rem;
background-color: var( --card-background-inverted)
}


.movie-image img {
padding: 2rem;
}

.movie-title{
    margin: 0px auto;
}

.movie-title , .movie-year , .movie-type{
text-align: center;
}

.movie-title {
    font-size: 1.5rem;
    width: 22rem;
}

.movie-year , .movie-type{
    font-size: 1.3rem;
}